HELP.md
target/
*.mvn
mvnw
mvnw.cmd
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### These files are uploaded by maven-vaadin-plugin
node/
node_modules
